@font-face {
  font-family: "Karrik";
  src: url("../assets/font/karrik/TFF/Karrik-Regular.ttf") format("ttf"),
    url("../assets/font/karrik/WOFF/Karrik-Regular.woff") format("woff"),
    url("../assets/font/karrik/WOFF2/Karrik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Karrik";
  src: url("../assets/font/karrik/TFF/Karrik-Italic.ttf") format("ttf"),
    url("../assets/font/karrik/WOFF/Karrik-Italic.woff") format("woff"),
    url("../assets/font/karrik/WOFF2/Karrik-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

html {
  /* height: 100vh; */
  /* background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 151, 0, 1) 10rem,
    rgba(255, 241, 0, 1) 20rem
  ); */
  background-color: rgba(255, 241, 0, 1);
}
html,
body {
  margin: 0;
  /* padding: 0; */
  font-family: "Karrik", sans-serif;
  font-size: 18px;
  line-height: 1.16rem;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}
body {
  /* width: 100%;
  max-width: 800px;
  margin: 0 auto; */
  width: clamp(50vw, 30rem, 100%);
  margin: 0 auto 5rem;
  margin: 0 calc((100vw - clamp(50vw, 30rem, 100%)) / 2) 5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  font-size: 2rem;
  line-height: calc(1.16rem * 2);
}

ul {
  padding-inline-start: 1.75rem;
}

section {
  /* padding: 0 1rem; */
}

img {
  display: block;
  /* max-width: 95vw; */
  width: clamp(200px, 80vw, 25rem);
  /* margin: 0 auto; */
  padding: 1rem 0;
}

a {
  text-decoration: underline;
  color: rgb(116 46 255);
}

.bouton a {
  /* display: inline-block;
  font-size: 5vw;
  line-height: calc(5vw * 1.26);
  text-decoration: none;
  text-align: center;
  color: inherit;
  padding-inline: 2rem;
  margin-inline: 25vw;

  border: 0.25rem solid black;
  border-radius: 0.5rem; */
}
.bouton a:hover {
  color: aquamarine;
  border-color: aquamarine;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 120vh;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 151, 0, 1) 10rem,
    rgba(255, 241, 0, 1) 20rem
  );
  z-index: -10;
}

.content-wrapper {
  margin: 1rem 1rem 0 0.5rem;
  padding: 0 1rem;

  border-top: solid black 2px;
}

.lang-nav {
  margin: 0 0.5rem;
}
.lang-nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  align-items: baseline;
  margin: 0;
  padding: 0;
}
.lang-nav ul li {
}

.lang-nav ul li a,
.lang-nav ul li span {
  display: inline-block;
  font-size: 1.15rem;
  line-height: 1.16em;
  min-width: 1.5rem;
  text-align: center;
  padding: 0.5rem 0.75rem;
}

.lang-nav ul li span {
  background-color: black;
  border: 2px solid black;

  color: rgba(255, 241, 0, 1);
  border-radius: 1rem;
}
.lang-nav ul li a {
  color: black;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 1rem;
}
.lang-nav ul li a:hover {
  color: rgb(116 46 255);
  border: 2px solid rgb(116 46 255);
}

#the-header .front {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  margin: 0 -35vw;
  margin: 0 calc((100vw - clamp(50vw, 30rem, 100%)) / 2 * -1);
}

#the-header .front .url {
  width: 20vw;
  display: none;
  margin: 0;
  padding: 0;
}
#the-header .front .boycott {
  width: clamp(4rem, 25vw, 10rem);
  padding: 0;
}

#the-header .grand-titre {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

#the-header picture {
  position: relative;
  top: clamp(-5rem, -18vw, -3rem);
  height: clamp(10rem, 95vw, 30rem);
  display: block;
}

#the-header picture .ballon-noir {
  display: block;
  width: 80%;
  margin: 0 auto;
}

#the-header .content-wrapper {
  /* font-size: 1.1rem;
  line-height: calc(1.58rem * 0.64); */
}

.tpl-default {
  margin: 0.75rem 1rem 0 0.5rem;
  padding: 0 1rem;
  overflow: hidden;
  max-height: 0px;
  border-bottom: 2px solid black;

  transition: max-height 1.25s;
}

.tpl-default > h1:first-of-type {
  padding: .25em 1rem;
  margin: 0 -1rem;
}
.tpl-default > h1.clickable {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transition: background-color 0.5s;
}
.tpl-default > h1.clickable:hover {
  cursor: pointer;
  background-color: black;
  color: rgba(255, 241, 0, 1);
}

.tpl-default .to-close {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  margin: 0 -1rem;
}
.tpl-default .to-close:hover {
  color: rgb(116 46 255);
  cursor: pointer;
}

@media (min-width: 1024px) {
  html,
  body {
    font-size: 17px;
  }
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
  }

  h1 {
    font-size: 1.68rem;
    line-height: calc(1.16rem * 1.68);
  }

  #the-header {
    display: block;
    width: 50%;
    position: fixed;
    max-height: 100vh;
    z-index: 10;
  }

  #the-header .front {
    margin: 0;
    margin: 0 -100vw;
  }

  #the-header .front .boycott {
    /* width: 14vw; */
    width: clamp(4rem, 14vw, 10rem);
  }

  #the-header .grand-titre {
    width: 78%;
  }
  #the-header picture {
    top: clamp(-5rem, -18vw, -3rem);
    height: clamp(28rem, 95vw, 30rem);
  }
  #the-header picture .ballon-noir {
    width: 68%;
  }
  #the-header .content-wrapper {
    width: 88%;

    margin: 1rem auto 0 auto;
  }

  .lang-nav {
    /* display: block;
    width: 50%;
    position: absolute;
    top: 4.5rem;
    right: 0;
    margin: 0.5rem; */
  }
  #text-content {
    display: block;
    width: 50%;
    position: absolute;
    top: 10rem;
    right: 0;
    padding-bottom: 2rem;
    z-index: 1;
  }
}

@media (min-width: 1366px) {
  h1 {
    font-size: 1.6rem;
    line-height: calc(1.16rem * 1.6);
  }

  #the-header {
    display: block;
    width: 40%;
    position: fixed;
    max-height: 100vh;
  }

  #the-header .front .boycott {
    /* width: 12vw; */
    width: clamp(4rem, 12vw, 10rem);
  }

  #the-header .grand-titre {
    width: 74%;
  }

  #the-header picture {
    top: clamp(-5rem, -18vw, -3rem);
    height: clamp(28rem, 95vw, 31rem);
  }
  #the-header picture .ballon-noir {
    width: 64%;
  }
  #the-header .content-wrapper {
    width: 85%;
    margin: 0 auto;
    margin: 1rem auto 0 auto;
  }

  .lang-nav {
    /* width: 60%;
    top: 2.5rem; */
  }
  #text-content {
    width: 60%;
    top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1680px) {
  #the-header {
    display: block;
    width: 35%;
    position: fixed;
    max-height: 100vh;
  }

  #the-header .front .boycott {
    width: 12vw;
  }

  #the-header .grand-titre {
    width: 78%;
  }

  #the-header picture {
    top: clamp(-5rem, -18vw, -3rem);
    height: clamp(28rem, 95vw, 30rem);
  }

  #the-header picture .ballon-noir {
    width: 62%;
  }
  #the-header .content-wrapper {
    width: 85%;
    margin: 0 auto;
    margin: 1rem auto 0 auto;
  }

  .lang-nav {
    /* width: 67%;
    top: 2.5rem; */
  }

  /* .tpl-default {
    margin:  0 0 ;
    padding: 0 ;
  } */
  #text-content {
    width: 60%;
    top: 6rem;
    left: calc(35% + 1rem);
    right: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 1rem;
  }
}
